@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


:root {
    --A : #DD5353;
    --B: #DBC8AC;
    --C: #B73E3E;
    --D: #EDDBC0;
}

body { 
    font-family: 'Inter', sans-serif;
    background-color: var(--D);
    font-size: 120%;
}

.name {
    text-align: center;
    font-size: 140%;
}

.username {
    margin-bottom: 0.6rem;
}

.underline {
    margin-top: 0; 
    width: 60%;
    height: 2px;
    background-color: grey;
    border-width: 0; 
}

.info {
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}
