:root{
    --A : #DD5353;
    --B: #DBC8AC;
    --C: #B73E3E;
    --D: #EDDBC0;
}

body{
    background-color: var(--D);
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 40%;
    height: 80vh;
    margin: auto;
    background-color: var(--C);
    border-radius: 1rem;
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.4), 0 19px 50px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}


h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center ;
    font-size: 22px;
    color:rgb(0, 0, 0) ;
}


h3{
    margin: 0;
    padding: 0 0 20px;
    text-align: left ;
    font-size: 18px;
    color:rgb(0, 0, 0) ;
}

h4{
   
    text-align: center ;
    font-weight: bolder;
    color: black;
} 

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 60%;
    height: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.4), 0 19px 50px 0 rgba(0,0,0,0.19);
    
}

.button
{
    border: none;
    outline: none;
    margin-top: 20px;
    width: 320px;
    height: 40px;
    background: #ffffff ;
    color:  rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;

}
.button :hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: #ffffff ;
    font-size:large;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
  }